*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 26px auto;

    width: max-content;

}

.navbar-menu {
    text-align: center;
    text-transform: uppercase;


}

.navbar-menu-list {
    display: inline;
    list-style: none;
}

.navbar-menu-list+.navbar-menu-list {
    margin-left: 72px;
}

.navbar-menu-link {
    text-decoration: none;
    margin: 6px 15px;
    color: red;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    font-weight: bold;

}

.img {
    width: 100%;
    height: 100%;
}

.information {
    
    margin: 49px auto 82px;

}

.information-title {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;


}

.information-subtitle {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 38px auto 28px;

}

.information-subtitle-last {
    margin-bottom: 84px;
}

.start-link {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    line-height: 12px;
    letter-spacing: 1.8px;
    font-size: 12px;
    font-weight: bold;
    background-color: #FF0000;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    padding: 18px 42px;


}

footer {
   

    margin-left: auto;
    margin-right: auto;
    text-align: end;
    
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 2.4px;
    color: #373737;
}